.wrapper {
  display: flex;
}

/* side-bar  */
.side-bar {
  height: 100vh;
  width: 300px;
}
/* side-bar上段  */
.side-header {
  height: 100px;
  background-color:#253141 ;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-name a {
  color: #FAFAFA;
  font-size: 16px;
  text-decoration: none;
}
.create-room a {
  border: 1px solid lightblue;
  padding: 14px;
  font-size: 10px;
  color: deepskyblue;
  text-decoration: none;
}

/* side-bar下段 */
.side-rooms {
  height: calc(100vh - 100px);
  background-color: #2f3e51;
  padding: 0 20px;
  overflow: scroll;
}
.room {
padding: 20px 0 40px;
}
.room-name a {
  color: #ffffff;
  text-decoration: none;
}

/* main  */
.chat-header {
  height: 100px;
  background-color: #ffffff;
  padding: 0 40px;
}
.chat-main {
  height: calc(100vh - 190px);
  width: calc(100vw - 300px);
  background-color: #FAFAFA;
  padding: 46px 40px 20px;
}
.chat-footer {
  height: 90px;
  background-color: #DDDDDD;
  padding: 20px 40px;
}
